<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>cmc</display-name>
   <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <res-ref-name>jdbc/MyDataSource</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
    <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>RunChessServlet</display-name>
    <servlet-name>RunChessServlet</servlet-name>
    <servlet-class>app.RunChessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RunChessServlet</servlet-name>
    <url-pattern>/RunChessServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>admin.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TournamentPlayerServlet</display-name>
    <servlet-name>TournamentPlayerServlet</servlet-name>
    <servlet-class>app.TournamentPlayerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TournamentPlayerServlet</servlet-name>
    <url-pattern>/TournamentPlayerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VideoServlet</display-name>
    <servlet-name>VideoServlet</servlet-name>
    <servlet-class>video.VideoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VideoServlet</servlet-name>
    <url-pattern>/VideoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TournamentAddServlet</display-name>
    <servlet-name>TournamentAddServlet</servlet-name>
    <servlet-class>admin.TournamentAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TournamentAddServlet</servlet-name>
    <url-pattern>/TournamentAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TournamentDeleteServlet</display-name>
    <servlet-name>TournamentDeleteServlet</servlet-name>
    <servlet-class>admin.TournamentDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TournamentDeleteServlet</servlet-name>
    <url-pattern>/TournamentDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TournamentPlayerLoginServlet</display-name>
    <servlet-name>TournamentPlayerLoginServlet</servlet-name>
    <servlet-class>tournamentplayer.TournamentPlayerLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TournamentPlayerLoginServlet</servlet-name>
    <url-pattern>/TournamentPlayerLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddQueryServlet</display-name>
    <servlet-name>AddQueryServlet</servlet-name>
    <servlet-class>tournamentplayer.AddQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddQueryServlet</servlet-name>
    <url-pattern>/AddQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TournamentPlayerForgetServlet</display-name>
    <servlet-name>TournamentPlayerForgetServlet</servlet-name>
    <servlet-class>app.TournamentPlayerForgetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TournamentPlayerForgetServlet</servlet-name>
    <url-pattern>/TournamentPlayerForgetServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotServlet</display-name>
    <servlet-name>ForgotServlet</servlet-name>
    <servlet-class>tournamentplayer.ForgotServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotServlet</servlet-name>
    <url-pattern>/ForgotServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFQueryServlet</display-name>
    <servlet-name>AddFQueryServlet</servlet-name>
    <servlet-class>funPlayer.AddFQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFQueryServlet</servlet-name>
    <url-pattern>/AddFQueryServlet</url-pattern>
  </servlet-mapping>
</web-app>