<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MiniProjectApp</display-name>
  <welcome-file-list>
    <welcome-file>LoginForm.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>BookInsertServlet</servlet-name>
    <servlet-class>miniproject.servlets.BookInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookInsertServlet</servlet-name>
    <url-pattern>/BookInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>miniproject.servlets.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookOrderServlet</display-name>
    <servlet-name>BookOrderServlet</servlet-name>
    <servlet-class>miniproject.servlets.BookOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookOrderServlet</servlet-name>
    <url-pattern>/BookOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmBookOrderServlet</display-name>
    <servlet-name>ConfirmBookOrderServlet</servlet-name>
    <servlet-class>miniproject.servlets.ConfirmBookOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmBookOrderServlet</servlet-name>
    <url-pattern>/ConfirmBookOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>miniproject.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBookServlet</display-name>
    <servlet-name>DeleteBookServlet</servlet-name>
    <servlet-class>miniproject.servlets.DeleteBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBookServlet</servlet-name>
    <url-pattern>/DeleteBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserServlet</display-name>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>miniproject.servlets.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/DeleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>miniproject.servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReturnBookServlet</servlet-name>
    <servlet-class>miniproject.servlets.ReturnBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReturnBookServlet</servlet-name>
    <url-pattern>/ReturnBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendMailCheckServlet</display-name>
    <servlet-name>SendMailCheckServlet</servlet-name>
    <servlet-class>miniproject.servlets.SendMailCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMailCheckServlet</servlet-name>
    <url-pattern>/SendMailCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateReturnedBookServlet</display-name>
    <servlet-name>UpdateReturnedBookServlet</servlet-name>
    <servlet-class>miniproject.servlets.UpdateReturnedBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateReturnedBookServlet</servlet-name>
    <url-pattern>/UpdateReturnedBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomePageServlet</display-name>
    <servlet-name>HomePageServlet</servlet-name>
    <servlet-class>miniproject.servlets.HomePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomePageServlet</servlet-name>
    <url-pattern>/HomePageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthenticationServlet</display-name>
    <servlet-name>AuthenticationServlet</servlet-name>
    <servlet-class>miniproject.servlets.AuthenticationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthenticationServlet</servlet-name>
    <url-pattern>/AuthenticationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookDetailsServlet</display-name>
    <servlet-name>BookDetailsServlet</servlet-name>
    <servlet-class>miniproject.servlets.BookDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookDetailsServlet</servlet-name>
    <url-pattern>/BookDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogout</display-name>
    <servlet-name>UserLogout</servlet-name>
    <servlet-class>miniproject.servlets.UserLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogout</servlet-name>
    <url-pattern>/UserLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogout</display-name>
    <servlet-name>AdminLogout</servlet-name>
    <servlet-class>miniproject.servlets.AdminLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogout</servlet-name>
    <url-pattern>/AdminLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>miniproject.servlets.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookHistory</display-name>
    <servlet-name>BookHistory</servlet-name>
    <servlet-class>miniproject.servlets.BookHistory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookHistory</servlet-name>
    <url-pattern>/BookHistory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IssuedBooks</display-name>
    <servlet-name>IssuedBooks</servlet-name>
    <servlet-class>miniproject.servlets.IssuedBooks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IssuedBooks</servlet-name>
    <url-pattern>/IssuedBooks</url-pattern>
  </servlet-mapping>
</web-app>